body {
  margin: 0;
}

table {
  width: 100%;
  margin: 0 auto 20px;
  border-collapse: collapse;
  text-align: center;
  background-color: white;
}

table th {
  padding: 10px 15px;
  font-weight: normal;
  color: #073899;
}

table>tbody>tr:hover {
  background-color: #becaf8;
}

table td {
  padding: 10px 15px;
  color: #666699;
  border-top: 1px solid #e8edff;
}

table td:first-child {
  text-align: left;
}

table tr:nth-child(2n) {
  background-color: #e8edff;
}
